html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    padding: 0px;
  }
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
  
  .box div {
    width: 100px;
    height: 100px;
    border: 2px solid red;
  }
